<div id="divErrors"
     class="alert alert-danger alert-dismissible fade show" role="alert"
     style="display:none">

    <strong>
        <span id="errors"></span>
    </strong>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div id='calendar'></div>

<script>

    var projectId = @ViewBag.Project.Id;

    //jQuery
    $(function () {
        GetTasksCalendar(projectId);
    });

    function GetTasksCalendar(projectId) {

        $.get('/Tasks/GetTasksCalendar?projectId=' + projectId)
            .done(function (data) {

                var isSuccessful = data.IsSuccessful;

                if (isSuccessful) {
                    var events = [];

                    $.each(data.Data, function (idx, task) {
                        events.push({
                            'id': task.Id,
                            'title': task.Title,
                            'start': task.Start,
                            'end': task.End,
                            'allDay': task.AllDay,
                            'color': task.Color,
                            'textColor': task.TextColor
                        });
                    });

                    var calendarEl = document.getElementById('calendar');

                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        plugins: ['interaction', 'dayGrid'],
                        header: {
                            left: 'prevYear,prev,next,nextYear today',
                            center: 'title',
                            right: 'dayGridMonth,dayGridWeek,dayGridDay'
                        },
                        navLinks: true,
                        eventLimit: true,
                        eventClick: function (eventObj) {

                        },
                        events: events
                    });

                    calendar.render();
                } else {
                    var errors = data.Errors;
                    displayValidationErrors(errors);
                }

            });
    }

</script>
